**01 변수**

In [1]:
boolVar = True
intVar_ = 0
floatVar1 = 0.0
str = ""
#_int = 1
#1_int = 1 숫자로 시작하면 안 됨

myVar = 100
print(type(myVar))
myVar = 100.0
print(type(myVar))

<class 'int'>
<class 'float'>

In [2]:
a =100
b = 50


print(id(a))
print(id(100))
print(id(b))
print(id(50))
a= 50
print(id(a))
print(id(b))

94777430795872
94777430795872
94777430794272
94777430794272
94777430794272
94777430794272

**04 문자형**

In [7]:
a = "파이썬 만세"

print(a)
print(type(a))

print("작은따옴표는 ' 모양이다")
print('큰따옴표는 " 모양이다')


a = "이건 큰따옴표는 \" 모양이다"
b = '이건 작은따옴표는 \' 모양이다'
print(a, b)

a = '파이썬 \n만세'
print(a)

a = """파이썬
만세"""
#b = "파이썬
#만세"

print(a)

# 부여된 순서 번호로 각 문자 접근
a = '1$ 환율은 1100입니다.'
a = 'currency exchange rates'
print("=======================")
print("01234567890123456789012")
print(a)
print("=======================")
print(a[0])
print(a[1])
print(a[-1])
print(a[-2])
print(a[7:14])

파이썬 만세
<class 'str'>
작은따옴표는 ' 모양이다
큰따옴표는 " 모양이다
이건 큰따옴표는 " 모양이다 이건 작은따옴표는 ' 모양이다
파이썬
만세
파이썬
만세
=======================
01234567890123456789012
currency exchange rates
=======================
c
u
s
e
y excha

**문자열 "100" vs 숫자 100**

In [8]:
num =100
strNum = "100"

print (type(num))
print (type(strNum))

print(num+num)
print(strNum+strNum)
#print(strNum + num)

<class 'int'>
<class 'str'>
200
100100

**05 수식의 표현**

In [9]:
a = 5; b =3
print(a+b, a-b, a*b, a/b, a//b, a%b, a**b)

c = 7; d = 9
print(c,d)

e, f = 11,13
print(e,f)

#연산자 우선 순위
print("연산자 우선 순위")
a , b, c = 2,3,4
print(a+b-c, a +b *c, a+b/c)

8 2 15 1.6666666666666667 1 2 125
7 9
11 13
연산자 우선 순위
1 14 2.75

**10 입력과 출력**

In [12]:
print("Hello World!")

eng = input("영어 점수를 입력히시오:")
math = input("수학 점수를 입력하시오:")
totalScore = eng + math
print("총점 = ", totalScore)

eng = int(input("영어 점수를 입력하시오:"))
math = int(input("수학 점수를 입력하시오:"))
totalScore = eng + math
print("총점 = ", totalScore)

name = input('이름을 입력하시오:')
print(name + '님 반갑습니다.')

Hello World!
영어 점수를 입력히시오:90
수학 점수를 입력하시오:98
총점 =  9098
영어 점수를 입력하시오:90
수학 점수를 입력하시오:98
총점 =  188
이름을 입력하시오:김다인
김다인님 반갑습니다.