**실습 02**

In [2]:
a = 200 

#코드 수정하기
if a < 100 :
  print("100보다. 작군요")
  print("거짓이므로 이 문장은 안보이겠죠?" ) 

print ("프로그램 끝") 

#들여쓰기 오류 주의

money = 1000
water = 500
if water < money: 
  print("생수를 뽑는다")
  print("물을 마신다")
  print("시원하다")

프로그램 끝
생수를 뽑는다
물을 마신다
시원하다

**실습 06**

In [3]:
score = int(input("점수를 입력하세요 : ")) 

if score >= 90 :
  print("A")
elif score >= 80 :
  print("B")
elif score >= 70 :
  print("C")
elif score >= 60 :
  print("D")
else :
  print("F")
  
print("학점입니다. ^^")

점수를 입력하세요 : 92
A
학점입니다. ^^

**실습 08**

In [5]:
for n in range(10) : #random stop
  print(n, end='')
print() 

for n in range(1, 11) : #range(start, stop) 
  print(n, end='')
print()

for n in range(1, 11, 2) : #range(start, stop, step)
  print(n, end='')
print()

for i in range(10, 0, -1): #10부터 1까지 출력
  print(i, end='')
print()

for i in range(10, -1, -1): #10부터 까지 출력
  print(i, end='')
print()

#for 문 내용을 코드로 작성

#i = 0 
i, hap = 0, 0.0 


for i in range(1, 11, 1) :
  hap = hap + i 

print("1에서 10까지의 합계 : %d" % hap)

0123456789
12345678910
13579
10987654321
109876543210
1에서 10까지의 합계 : 55

**실습 10 구구단 전체**

In [7]:
i, dan = 0, 0 

for dan in range(1, 10, 1) :
  for i in range(1, 10, 1) :
    print("%d x %d = %2d" % (dan, i, dan * i))

1 x 1 =  1
1 x 2 =  2
1 x 3 =  3
1 x 4 =  4
1 x 5 =  5
1 x 6 =  6
1 x 7 =  7
1 x 8 =  8
1 x 9 =  9
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

**실습 11**

In [74]:
# 전역 변수 선언 부분 #
i, k, guguLine = 0, 0, ""

# 메인 코드 부분 #
for i in range(2, 10) : 
  guguLine = guguLine + (" #  %d 단  #  " % i) 

print (guguLine)

for i in range(1, 10) : 
  guguLine = ""
  for k in range (2, 10) : 
    guguLine = guguLine + str("%2d X %2d = %2d" % (k, i, k*i))
  print(guguLine)

 #  2 단  #   #  3 단  #   #  4 단  #   #  5 단  #   #  6 단  #   #  7 단  #   #  8 단  #   #  9 단  #
 2 X  1 =  2 3 X  1 =  3 4 X  1 =  4 5 X  1 =  5 6 X  1 =  6 7 X  1 =  7 8 X  1 =  8 9 X  1 =  9
 2 X  2 =  4 3 X  2 =  6 4 X  2 =  8 5 X  2 = 10 6 X  2 = 12 7 X  2 = 14 8 X  2 = 16 9 X  2 = 18
 2 X  3 =  6 3 X  3 =  9 4 X  3 = 12 5 X  3 = 15 6 X  3 = 18 7 X  3 = 21 8 X  3 = 24 9 X  3 = 27
 2 X  4 =  8 3 X  4 = 12 4 X  4 = 16 5 X  4 = 20 6 X  4 = 24 7 X  4 = 28 8 X  4 = 32 9 X  4 = 36
 2 X  5 = 10 3 X  5 = 15 4 X  5 = 20 5 X  5 = 25 6 X  5 = 30 7 X  5 = 35 8 X  5 = 40 9 X  5 = 45
 2 X  6 = 12 3 X  6 = 18 4 X  6 = 24 5 X  6 = 30 6 X  6 = 36 7 X  6 = 42 8 X  6 = 48 9 X  6 = 54
 2 X  7 = 14 3 X  7 = 21 4 X  7 = 28 5 X  7 = 35 6 X  7 = 42 7 X  7 = 49 8 X  7 = 56 9 X  7 = 63
 2 X  8 = 16 3 X  8 = 24 4 X  8 = 32 5 X  8 = 40 6 X  8 = 48 7 X  8 = 56 8 X  8 = 64 9 X  8 = 72
 2 X  9 = 18 3 X  9 = 27 4 X  9 = 36 5 X  9 = 45 6 X  9 = 54 7 X  9 = 63 8 X  9 = 72 9 X  9 = 81

**실습 19**

In [76]:
# 전역 변수 선언 부분 #
i, k = 0, 0 

# 메인 코드 부분 #
i = 0
while i < 9 : 
  if i < 5: 
    k = 0
    while k < 4-i : 
      print(' ', end = '')
      k += 1
    k = 0
    while k < i*2+1 : 
      print('\u2605', end = '') 
      k += 1
  else : 
    k = 0 
    while k < i-4 : 
      print(' ', end = '') 
      k += 1
    k = 0
    while k < (9-i)*2-1 : 
      print('\u2605', end = '') 
      k += 1
  print()
  i+=1

    ★
   ★★★
  ★★★★★
 ★★★★★★★
★★★★★★★★★
 ★★★★★★★
  ★★★★★
   ★★★
    ★

**Print 실습**

In [80]:
print("Hello") 

print("%d" %100) 

#출력할 데이터가 여러 개일 때 서식과 숫자의 대응
print("%d, %d" %(100, 200)) 

#오류
#print("%d" %(100, 200))
#print("%d, %d" %(100))

print("%d/%d=%5.1f"%(100, 200,0.5))

print("%d" %123)
print("%5d" %123)
print("%05d" %123)
print("%f" %123.45)
print("%7.1f" %123.45)
print("%7.3f" %123.45) 

print("%s" %"Python")
print("%10s" %"Python") 

#오류 수정
#print("Error is %d%, "%98)

#특수 문자를 표현하는 역슬래시로 이루어진 특수 표기법

print("\n줄바꿈\n연습")
print("\t키\t 연습")
print("\\\\\역슬래시 3개 출력")
print("줄바꿈 기호:\\n")
print("탭 키 기호 :\\t") 

print("줄바꾸기")
print("줄바꿈")
print("줄바꾸지 말기", end=' ')
print("같은 줄에 출력")

Hello
100
100, 200
100/200=  0.5
123
  123
00123
123.450000
  123.5
123.450
Python
    Python

줄바꿈
연습
	키	 연습
\\\역슬래시 3개 출력
줄바꿈 기호:\n
탭 키 기호 :\t
줄바꾸기
줄바꿈
줄바꾸지 말기 같은 줄에 출력