**실습 1**

In [1]:
empty=[]
number=[1,2,3]
strings = ['new', 'face']
numAndStr = [1,2,3,'new','face']
listInlist = [[1,3,5], [2,4,6]]
odd = [1,3,5,7,9]
odd[0]
odd[1]
odd[4]
odd[-1]
print(odd[0])
print(odd[1])
print(odd[4])
print(odd[-1])

1
3
9
9

**실습 2**

In [3]:
aa = []
aa.append(0)
aa.append(0)
aa.append(0)
aa.append(0)
print(aa)
aa = []
for i in range(0, 4) :
  aa.append(0)
    
print(aa)
print(len(aa))
#다섯 번째 원소에 접근
#print(aa[4])

[0, 0, 0, 0]
[0, 0, 0, 0]
4

**실습 5**

In [4]:
aa = [10, 20, 30, 40]
print("aa[-1]은 %d, aa[-2]은 %d" %(aa[-1], aa[-2]))
print(aa[0:3])
print(aa[2:4])
print(aa[2:])
print(aa[:2])
aa = [10, 20, 30]
bb = [40, 50, 60]
print(aa + bb)
print(aa *3)
print(aa)
print(bb)

aa[-1]은 40, aa[-2]은 30
[10, 20, 30]
[30, 40]
[30, 40]
[10, 20]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
[10, 20, 30]
[40, 50, 60]

**실습 6**

In [5]:
myList = [30, 10, 20]
print("현재 리스트 : %s" % myList)
myList.append(40)
print("append(40) 후의 리스트 : %s" % myList)
print("pop()으로 추출한 값 : %s" % myList.pop())
print("pop() 후의 리스트 : %s" % myList)
myList.sort()
print("sort() 후의 리스트 : %s" % myList)
myList.reverse()
print("reverse() 후의 리스트 : %s" % myList)
print("20값의 위치 : %d" % myList.index(20))
myList.insert(2, 222)
print("insert(2, 222) 후의 리스트 : %s" % myList)
myList.remove(222)
print("remove(222) 후의 리스트 : %s" % myList)
myList.extend( [77, 88, 77] )
print("extend([77, 88, 77]) 후의 리스트 : %s" % myList)
print("77값의 개수 : %d" % myList.count(77))

현재 리스트 : [30, 10, 20]
append(40) 후의 리스트 : [30, 10, 20, 40]
pop()으로 추출한 값 : 40
pop() 후의 리스트 : [30, 10, 20]
sort() 후의 리스트 : [10, 20, 30]
reverse() 후의 리스트 : [30, 20, 10]
20값의 위치 : 1
insert(2, 222) 후의 리스트 : [30, 20, 222, 10]
remove(222) 후의 리스트 : [30, 20, 10]
extend([77, 88, 77]) 후의 리스트 : [30, 20, 10, 77, 88, 77]
77값의 개수 : 2

**2차원 리스트**

In [6]:
list1 = []
list2 = []
value=1
for i in range(0, 3) :
  for k in range(0, 4) :
    list1.append(value)
    value += 1
  list2.append(list1)
  list1 = []
for i in range(0, 3) :
  for k in range(0, 4) :
    print("%3d" % list2[i][k], end = " ")
  print("")

  1   2   3   4
  5   6   7   8
  9  10  11  12

**딕셔너리 실습**

In [1]:
#여러 정보의 딕셔너리 표현
student1 = {"학번":1000, "이름":"홍길동", "학과": "컴퓨터학과" }
print(student1)
#student1에 연락처 추가
student1['연락처'] = '010-1111-2222'
print(student1)
#학과 수정
student1['학과'] = '파이썬학과'
print(student1)
#student1의 학과 삭제
del(student1['학과'])
print(student1)
student1 = {"학번":1000, "이름":"홍길동", "학과": "파이썬학과","학번":2000 }
print(student1)
print(student1['학번'])
print(student1['이름'])
print(student1['학과'])
#딕셔너리명.get(키) 함수를 사용해 키로 값에 접근
print(student1.get('이름'))
#없는 키를 찾을 때 딕셔너리명.get(키)를 사용
#print(student1['주소'])
print(student1.get('주소'))
#딕셔너리명.keys()는 딕셔너리의 모든 키 반환
print(student1.keys())
print(list(student1.keys()))
print(student1.values())
#딕셔너리명.items() 함수를 사용하면 튜플 형태로도 구할 수 있음
print(student1.items())
print('이름' in student1)
print('주소' in student1)

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}
{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '010-1111-2222'}
{'학번': 1000, '이름': '홍길동', '학과': '파이썬학과', '연락처': '010-1111-2222'}
{'학번': 1000, '이름': '홍길동', '연락처': '010-1111-2222'}
{'학번': 2000, '이름': '홍길동', '학과': '파이썬학과'}
2000
홍길동
파이썬학과
홍길동
None
dict_keys(['학번', '이름', '학과'])
['학번', '이름', '학과']
dict_values([2000, '홍길동', '파이썬학과'])
dict_items([('학번', 2000), ('이름', '홍길동'), ('학과', '파이썬학과')])
True
False